@font-face {
    font-family: "TT Commons";
    src: url("fonts/TTCommons-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Commons";
    src: url("fonts/TTCommons-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "TT Commons";
    src: url("fonts/TTCommons-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Caveat Regular";
    src: url("fonts/Caveat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
